<div class="projects row">
    <ng-container *ngFor="let project of projects; let i = index">
        <div *ngIf="i == 0" class="box col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class='content'[ngStyle]="{'background-image': project.projectImages[0].url}">
                <div class="preview-info">
                    <h3>{{ project.title.get(translate.currentLang)}}</h3>
                    <span>{{ project.subTitle.get(translate.currentLang)}}</span>
                </div>
            </div>
            <div class="grayscale">
                <div class="grayscale-inner">
                    <div class="button" (click)="quickView(i)">Quick view +</div>
                    <div class="button" [routerLink]="['/project', project.id]">Details +</div>
                </div>
            </div>
        </div> 
        <div *ngIf="i > 0" class="box col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class='content'[ngStyle]="{'background-image': project.projectImages[0].url}">
                <div class="preview-info">
                    <h3>{{ project.title.get(translate.currentLang)}}</h3>
                    <span>{{ project.subTitle.get(translate.currentLang)}}</span>
                </div>
            </div>
            <div class="grayscale">
                <div class="grayscale-inner">
                    <div class="button" (click)="quickView(i)">Quick view +</div>
                    <div class="button" [routerLink]="['/project', project.id]">Details +</div>
                </div>
            </div>
        </div>
    </ng-container>
</div>