@import '../../styles.scss';

.projects {
    width: 95%;
    margin: 60px auto;
}

.box {
	position: relative;
    width: 50%;		/* desired width */
    background-color: black;
}

.box:before {
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.content {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
    right: 0;    
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    z-index: 100;
    
    .preview-info {
        position: absolute;
        bottom: 10px;
        margin: 0 15px;
        color: white;

        h3 {
            font-size: 18px;
            margin: 0px;
        }

        h5 {
            font-size: 14px;
        }
    }
}

.box:hover {
    .grayscale {
        z-index: 200;
    }
}

.grayscale {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;    
    z-index: 0;
    opacity: 0.8;
    background-color: black;
}

.grayscale-inner {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: 45%;
}

.button {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    margin: 5px auto;
    padding: 5px 0px;
    text-align: center;
    width: 150px;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: black;
}