@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import "~bootstrap/scss/bootstrap.scss";

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

$blue: #069;
$light-blue: #0076be;
$green: #266809;
$white: #fff;
$gray: #333;
$light-gray:#999;	

body {
    background:$white;
    padding: 0em;
    margin: 0px;
    font-family: 'Raleway', 'Arial';
}
