<div class="footer">	
	<div class="left">
		&#9400; Copyright 2018, B+H Architects. All Rights Reserved.
	</div>
	<div class="right">
		<span>Contact</span> | <span (click) = "backToTop()" style="cursor: pointer">Back to top</span>
	</div>
	<go-top-button   [animate]="true"
                 [speed]="50"
                 [acceleration]="2"
                 [scrollDistance]="300"
                 [styles]="{
                    'border-radius': '20px 20px 20px 20px',
                    'right': '5px',
                    'color': 'gray',
                    'border': '5px solid',
                    'line-height': '20px'
                 }">
        <i class='fa fa-arrow-up'></i>
  	</go-top-button>
</div>