<div style="clear:both"></div>
<div class="footer">	
	<div class="left" translate>
		footer.copyright
	</div>
	<div class="right">
		<span translate>footer.contact</span>
		&nbsp;|&nbsp;
		<span (click) = "backToTop()" style="cursor: pointer" translate>footer.backToTop</span>
	</div>
	<go-top-button [animate]="true"
                 [speed]="50"
                 [acceleration]="2"
                 [scrollDistance]="300"
                 [styles]="{
                    'border-radius': '20px 20px 20px 20px',
                    'right': '5px',
                    'color': 'gray',
                    'border': '5px solid',
                    'line-height': '20px'
                 }">
        <i class='fa fa-arrow-up'></i>
  	</go-top-button>
</div>