<div class="home">
	<ngx-carousel class="banner" [inputs]="carouselBanner" (carouselLoad)="carouselBannerLoad()">
	    <ngx-item NgxCarouselItem *ngFor="let image of carouselBannerItems; let i = index;">
	        <div class="bannerStyle" [style.background]="'url(' + image.url + ')'">
	        	<div class="layer">	        		
		            <h1>{{ image.title.get(translate.currentLang)}}</h1>
		            <h3>{{ image.subTitle.get(translate.currentLang)}}</h3>
	        	</div>
	        </div>
	    </ngx-item>
	    <button NgxCarouselPrev class="leftRs">&lt;</button>
	    <button NgxCarouselNext class="rightRs">&gt;</button>
	</ngx-carousel>
	
	<ng-container *ngIf="images.length > 2">
		<div class="project">
			<div class="left" [ngStyle]="{background: images[0].style}">
				<div class="layer">
					<span>
						<h1>{{ images[0].title.get(translate.currentLang)}}</h1>
						<h5>{{ images[0].subTitle.get(translate.currentLang)}}</h5>
					</span>
				</div>
			</div>
			<div class="right" [ngStyle]="{background: images[1].style}">
				<div class="layer">
					<span>
						<h1>{{images[1].title.get(translate.currentLang)}}</h1>
						<h5>{{images[1].subTitle.get(translate.currentLang)}}</h5>
					</span>
				</div>
			</div>
		</div>
	</ng-container>
	<div class="other">
		<div class="contact-us">
			<div class="content">
				<h1>contact us</h1>
				<span>Visit our contact information page to see the studio closest to you.</span>
			</div>
		</div>
		<div class="projects">
			<div class="content">
				<h1>Project</h1>
			</div>
		</div>
		<div class="grow-with-us">
			<div class="content">
				<h1>grown with us</h1>
				<span>Learn about our global recruitment information and select career 
				opportunities in architecture, design, planning and more.</span>
			</div>
			<i class="fa fa-camera-retro fa-lg"></i>
		</div>
	</div>
</div>
