<h3 class="projectName" translate="project.allProjects" [routerLink]="['/project']">Projects</h3>
<div class="category">
    <ng-container  *ngFor="let category of categories; let catIdx = index">
        <h4 class="projectName" *ngIf="category"  [routerLink]="['/project/category', category.id]"> + {{ category?.title.get(translate.currentLang)}}</h4>
        <div class="projects row">    
            <ng-container *ngFor="let project of category.projects; let prjIdx = index">
                <div *ngIf="prjIdx == 0" class="box col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class='content'[ngStyle]="{'background-image': project.projectImages[0].url}">
                        <div class="preview-info" [routerLink]="['/project', project.id]">
                            <h3>{{ project.title.get(translate.currentLang)}}</h3>
                            <span>{{ project.subTitle.get(translate.currentLang)}}</span>
                        </div>
                    </div>
                    <div class="grayscale">
                        <div class="grayscale-inner">
                            <div class="button" (click)="quickView(catIdx, prjIdx)" translate="project.quickView">Quick view +</div>
                            <div class="button" [routerLink]="['/project', project.id]" translate="project.details">Details +</div>
                        </div>
                    </div>
                </div> 
                <div *ngIf="prjIdx > 0 && prjIdx < 6" class="box col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class='content'[ngStyle]="{'background-image': project.projectImages[0].url}">
                        <div class="preview-info" [routerLink]="['/project', project.id]">
                            <h3>{{ project.title.get(translate.currentLang)}}</h3>
                            <span>{{ project.subTitle.get(translate.currentLang)}}</span>
                        </div>
                    </div>
                    <div class="grayscale">
                        <div class="grayscale-inner">
                            <div class="button" (click)="quickView(catIdx, prjIdx)" translate="project.quickView">Quick view +</div>
                            <div class="button" [routerLink]="['/project', project.id]" translate="project.details">Details +</div>
                        </div>
                    </div>
                </div>
                
                <div *ngIf="prjIdx == 7" class="box col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="grayscale">
                        <div class="grayscale-inner">
                            <div class="button" [routerLink]="['/project/category', category.id]" translate="project.more">More +</div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>