@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

body {
    background:#fff;
    padding: 0em;
    margin: 0px;
    font-family: 'Raleway', 'Arial';
}