<div class="contactUs">
	<h3 translate="contactUs.title">Contact Us</h3>
	<div class="row">
		<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<h4 translate="contactUs.getInTouch">Get in touch</h4>
			<span translate="contactUs.fillQuickForm">
				Please fill out the quick form and we will be in touch with lightening speed.
			</span>
			<br/>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="name" translate="contactUs.name">Your name: </span>
				</div>
				<input type="text" class="form-control" placeholder="Name" aria-label="name" aria-describedby="name">
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="email" translate="contactUs.email">Your Email: </span>
				</div>
				<input type="text" class="form-control" placeholder="Your email address" aria-label="name" aria-describedby="email">
			</div>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" translate="contactUs.message">Your mesage:</span>
				</div>
				<textarea class="form-control" aria-label="Your message"></textarea>
			</div>
			
			<!-- <input type="text" required placeholder="Name"/><br>
			<input type="email" required placeholder="Your email address"/><br>
			<textarea rows="4" cols="5" placeholder="Your message"></textarea><br> -->
			<a class="btn btn-success" translate="contactUs.submit">Submit</a>
		</div>
		<div class = "col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
		<div class = "col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<h5 translate="contactUs.connectWithUs.title">Connect with us</h5>
			<span translate="contactUs.connectWithUs.supportOrQuestion">For support or any questions:</span><br/>
			<span translate="contactUs.connectWithUs.emailUsAt">Email us at: </span><span> support@dongleweb.net</span><br/>
			<br/>
			<h5>Ho Chi Minh, Vietnam</h5>
			<span>dia chi van phong</span>
		</div>
	</div>
</div>