@import '../../styles.scss';

.home {
	height: 100%;

	.project {
		height: calc(100vh);
		width: 90%;
		margin: 50px auto 0px auto;
		position: relative;
		-webkit-transition: margin 3s ease-out;
		-moz-transition: margin 3s ease-out;
		-o-transition: margin 3s ease-out;
		transition: margin 3s ease-out;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		
		.left {
			height: 100%;
			float: left;
			padding: 0px;
			
			@media only screen and (max-width: $screen-xs-max) {
				height: 50%;
				float: left;
				padding: 0px;
			}
		}

		.left::before, .left:before {
			content: "+";
			font: 36px/1em "gridarch-icons"!important;
			position: absolute;
			z-index: 5;
			top: 50%;
			left: 100%;
			width: 1em;
			height: 1em;
			color: #fff;
			line-height: 1em;
			text-align: center;
			margin-top: -.5em;
			margin-left: -.5em			
		}

		@media only screen and (max-width: $screen-xs-max) {
			.left::before, .left:before {
				top: 100%;
				left: 20%;
			}
		}

		.right {
			height: 100%;
			float: right;
			background: blue;
			padding: 0px;

			@media only screen and (max-width: $screen-xs-max) {
				height: 50%;
				float: right;
				background: blue;
				padding: 0px;
			}
		}
		
		.layer {
			width: 100%;
			height: 100%;
			background: rgba(138, 140, 142, 0.6);			
			position: relative;
			
			span {
				position: absolute;
				top: calc(50vh);
				right: 10px;
				text-align: right;
				
				h1, h5 {
					text-align:right;
					color: white;
				}
				
				h1 {
					font-weight:200;
				}
			}
		}
		
		.plus {
			content: "+";
		    font: 36px/1em "gridarch-icons";
		    position: absolute;
		    z-index: 5;
		    top: 50%;
		    left: 50%;
		    width: 1em;
		    height: 1em;
		    color: #fff;
		    line-height: 1em;
		    text-align: center;
		    margin-top: -.5em;
		    margin-left: -.5em
		}
		
	}
		
	.other {
		width: 100%;
		height: calc(100vh);
		margin: 50px auto 0px auto;
		position: relative;
		font-size: 1.25em;

		div {
			padding: 0px;
		}
		
		.content {
			padding: 20px 50px;
			h1, span {
				color: #fff;
			}
		}
		
		.contact-us {
			height: 50%;
			background: #069;

			.button-border {
				text-decoration: none;
				color: #fff;
				border-color: #fff;
				display: inline-block;
				padding: .75em 1.5em;
				border: 1px solid;
				margin-top: 15px;
				cursor: pointer;
			}

			.button-border:hover {
				background: #fff;
				color: #069;
			}
		}
		
		.grow-with-us {
			height: 50%;
			background: #333;

			.button-border {
				text-decoration: none;
				color: #fff;
				border-color: #fff;
				display: inline-block;
				padding: .75em 1.5em;
				border: 1px solid;
				margin-top: 15px;
				cursor: pointer;
			}
			
			.button-border:hover {
				background: #fff;
				color: #333;
			}
		}
		
		.projects {
			float: right;
			height: 100%;
			width: 100%;
			background: #999;	

			.content {
				ul {					
					list-style-type: none;
					padding-left: 0px;
					color: #fff;

					li {
						border: 0;
						font-size: 100%;
						font: inherit;
						vertical-align: baseline;
						padding: 6px 10px;
						margin: 0 0 10px;
						background: rgba(255,255,255,0.1);
						transition: all .2s ease-out;
						cursor: pointer;
					}

					li:hover {
						color: #069;
						background-color: #fff;
					}
				}
			}	
		}

		.left {		
			::before, :before {
				content: "+";
				font: 36px/1em "gridarch-icons"!important;
				position: absolute;
				z-index: 5;
				top: 50%;
				left: 100%;
				width: 1em;
				height: 1em;
				color: #fff;
				line-height: 1em;
				text-align: center;
				margin-top: -.5em;
				margin-left: -.5em
			}
			@media only screen and (max-width: $screen-xs-max) {
				::before, :before {
					left: 20%
				}
			}
		}

		.right {		
			::before, :before {
				content: "+";
				font: 36px/1em "gridarch-icons"!important;
				position: absolute;
				z-index: 5;
				top: 50%;
				left: 0%;
				width: 1em;
				height: 1em;
				color: #fff;
				line-height: 1em;
				text-align: center;
				margin-top: -.5em;
				margin-left: -.5em
			}
			
			@media only screen and (max-width: $screen-xs-max) {
				::before, :before {
					top: 0%;
					left: 20%
				}
			}
		}
	}
}
