<div class="home">
	<ng-container *ngIf="projects.length >= 2">
		<div class="project section01 row">
			<div class="left col-lg-6 col-md-6 col-sm-6 col-xs-12" style="position:relative;">
					<ul class="cb-slideshow" [ngStyle]="{'background-image': projects[0].images1}">
						<li>
							<span [ngStyle]="{'background-image': projects[0].images2}"></span>
							<div>
								<h3>{{ projects[0].title.get(translate.currentLang)}}</h3>
								<h5>{{ projects[0].subTitle.get(translate.currentLang)}}</h5>
							</div>
						</li>
						<li><span [ngStyle]="{'background-image': projects[0].images3}"></span></li>
						<li><span [ngStyle]="{'background-image': projects[0].images4}"></span></li>
						<li><span [ngStyle]="{'background-image': projects[0].images1}"></span></li>
					</ul>
			</div>
			<div class="right col-lg-6 col-md-6 col-sm-6 col-xs-12" style="position:relative;">
				<ul class="cb-slideshow" [ngStyle]="{'background-image': projects[1].images1}">
						<li>
							<span [ngStyle]="{'background-image': projects[1].images2}"></span>
							<div>
								<h3>{{ projects[1].title.get(translate.currentLang)}}</h3>
								<h5>{{ projects[1].subTitle.get(translate.currentLang)}}</h5>
							</div>
						</li>
						<li><span [ngStyle]="{'background-image': projects[1].images3}"></span></li>
						<li><span [ngStyle]="{'background-image': projects[1].images4}"></span></li>
						<li><span [ngStyle]="{'background-image': projects[1].images1}"></span></li>
					</ul>
			</div>
		</div>
	</ng-container>
	<div class="other row">
		<div class="left col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="contact-us">
				<div class="content">
					<h1>contact us</h1>
					<span>Visit our contact information page to see the studio closest to you.</span>
				</div>
			</div>
			<div class="grow-with-us">
				<div class="content">
					<h1>grown with us</h1>
					<span>Learn about our global recruitment information and select career 
					opportunities in architecture, design, planning and more.</span>
				</div>
				<i class="fa fa-camera-retro fa-lg"></i>
			</div>
		</div>
		<div class="right col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="projects">
				<div class="content">
					<h1>Project</h1>
				</div>
			</div>
		</div>
	</div>
</div>
