<ng-sidebar-container class="sidebar-container" 
	[animate] = "true" [ngClass] = "_opened ? 'change' : ''">
	<ng-sidebar [(opened)]="_opened" class="sidebar" 
				[dock]= true
				[animate] ="true"
				[closeOnClickOutside] = "true"
				(onClosed) = "sendEvent()">
		<p translate>sidebar.title</p>
		<ul (click)="_toogleSidebar()">
			<li><a routerLink="" translate routerLinkActive="active">sidebar.home</a></li>
			<li><a routerLink="/about" translate routerLinkActive="active">sidebar.about</a></li>
			<li><a routerLink="/project" translate routerLinkActive="active">sidebar.projects</a></li>
			<li><a routerLink="" translate routerLinkActive="active">sidebar.people</a></li>
			<li><a routerLink="" translate routerLinkActive="active">sidebar.culture</a></li>
			<li><a routerLink="" translate routerLinkActive="active">sidebar.contact</a></li>
		</ul>
	</ng-sidebar>
</ng-sidebar-container>