body {
	margin: auto;
	width: 1024px;
}
.adminBody {
	border-radius: 15px 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
	padding: 30px;
	position: relative;
}

.login-panel {
	margin-top: 150px;
}

.table {
	margin-top: 50px;
}

.content {
	width: 700px;
	float: right;
}
